@model Dashboard.Models.ViewModels.VMDashboard

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>Dashboard | Ventas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="~/img/favicon.ico" />
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <main>
        <h1 class="text-center mb-2 fw-bold display-5">
            Dashboard de Ventas
        </h1>
        <h2 class="text-center mb-5 fs-5 fw-normal">
            Visualización interactiva de ventas, productos y rendimiento por empleado
        </h2>

        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 g-3">
                <div class="col">
                    <div class="chart-card text-center p-3 border rounded shadow-sm">
                        <h5>Ventas por Mes</h5>
                        <canvas id="ventasPorMes"></canvas>
                    </div>
                </div>
                <div class="col">
                    <div class="chart-card text-center p-3 border rounded shadow-sm">
                        <h5>Productos por Categoría</h5>
                        <canvas id="productosPorCategoria"></canvas>
                    </div>
                </div>
                <div class="col">
                    <div class="chart-card text-center p-3 border rounded shadow-sm">
                        <h5>Ventas por Empleado</h5>
                        <canvas id="ventasPorEmpleado"></canvas>
                    </div>
                </div>
                <div class="col">
                    <div class="chart-card text-center p-3 border rounded shadow-sm">
                        <h5>Comparación Anual</h5>
                        <canvas id="comparacionVentas"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer class="text-center p-3 border-top">
        &copy; @DateTime.Now.Year - Dashboard. Desarrollado por Tamara Vera.
    </footer>
    <!-- SCRIPT -->
    <script src="~/js/chart.js"></script>
    <script src="~/js/dashboard.js"></script>
</body>
</html>